h1 {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 70px;
  font-weight: 400;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background: black;
  color: white
}

a:visited {
  color: purple
}

.flex-container {
  display: flex;
}

.card {
  display: inline;
  margin: 10px  
}

img {
  border-color: pink;
  border-width: 10px;
  border-style: solid;
}

/* Breakpoints */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
}