h1 {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 70px;
  font-weight: 400;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background: black;
  color: white
}

a:visited {
  color: purple
}

.flex-container {
  display: flex;
}

.card {
  display: inline;
  width: 200px;
  margin: 10px  
}

#header {
  display: block;
  height: 200px;
  text-align: center;
  background-image: url('/src/header-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}

.cta-call {
  background-color: pink;
}

.cta {
  border: 2px pink solid;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
}

img {
  border-color: pink;
  border-width: 10px;
  border-style: solid;
}

/* Breakpoints */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
}